<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommended Books</h1>
    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <strong class="book-title">{{ book.title }}</strong> 
                    <span class="book-author">by {{ book.author }} </span>
                        <br>
                    Genres: {{ book.genre }}
                </li>
                <p><strong>Description:</strong> {{ book.description }}</p>
                {% if book.thumbnail %}
                    <img src="{{ book.thumbnail }}" alt="Book Cover">
                {% endif %}
                <br><br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books found matching your preferences.</p>
    {% endif %}

</body>
</html>